body {
 background-color: #FA;
  color: #654321;
  font-family: Arial, Bookman-old-style;  
  margin: 5% 5%;
}

.experience-header {
  text-tansform: uppercase;
  border-bottom: 1px solid;
  border-top: 1px solid;
  background-color: rgba(0,0,0, 0.1);
  text-align: center; 
 
    
}
