body {
 background-color: #FA;
  color: black;
  font-family: Arial, Bookman-old-style;  
  margin: 20% 20%;
}

.experience-header {
  text-tansform: uppercase;
  border-bottom: 1px solid;
  border-top: 1px solid;
  background-color:  0.1);
  text-align: center
 }
    
 .banner{
   background-color: #ffffff; 
   font-size: large; 
   font-family: buffalo;
  }

.name{
  font-size: xx-large; 
  font-family: buffalo;
  }

.role{
  text-align: left; width: 50%; float: left;
}
.year{
 text-align: right; width: 50%; float: right;
}
    
}
